.card {
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}
.card-group {
  margin-bottom: 2rem;
}
.card:hover {
  transform: translateY(-5px);
}

.row {
  margin: 0 auto;
  max-width: 1200px;
}

.col {
  display: flex;
  justify-content: center;
}
